<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ECommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>jsp-pages/index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>fr.eilco.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControleurServlet</display-name>
    <servlet-name>ControleurServlet</servlet-name>
    <servlet-class>fr.eilco.servlet.ControleurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControleurServlet</servlet-name>
    <url-pattern>/categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PanierServlet</display-name>
    <servlet-name>PanierServlet</servlet-name>
    <servlet-class>fr.eilco.servlet.PanierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanierServlet</servlet-name>
    <url-pattern>/panier</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <display-name>PanierServlet</display-name>
      <url-pattern>*.jsp</url-pattern>
      <el-ignored>false</el-ignored>
      <scripting-invalid>false</scripting-invalid>
      <is-xml>false</is-xml>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>js</extension>
    <mime-type>text/javascript</mime-type>
  </mime-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>fr.eilco.servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/signup</url-pattern>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/clienthome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandeServlet</display-name>
    <servlet-name>CommandeServlet</servlet-name>
    <servlet-class>fr.eilco.servlet.CommandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandeServlet</servlet-name>
    <url-pattern>/commande</url-pattern>
    <url-pattern>/commanderesume</url-pattern>
    <url-pattern>/adresse</url-pattern>
    <url-pattern>/chooseadresse</url-pattern>
    <url-pattern>/addadresse</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthentificationFilter</display-name>
    <filter-name>AuthentificationFilter</filter-name>
    <filter-class>fr.eilco.filters.AuthentificationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthentificationFilter</filter-name>
    <url-pattern>/commande</url-pattern>
    <url-pattern>/clienthome</url-pattern>
    <url-pattern>/commanderesume</url-pattern>
    <url-pattern>/adresse</url-pattern>
    <url-pattern>/addadresse</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>fr.eilco.servlet.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/charge</url-pattern>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
</web-app>